<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- message %>

            <p>Why are you like this? You borked it</p>
            <p>Now I have to fix this</p>